.bodybgnd{
    background: url(./Assets/images/bckgrnd.jpg) repeat right top;
}


h1{
    color: #88B0B7;
    border-bottom: 1px solid #88b0b7;
}


.card1{
    background-color: white;
}


.lineheight{
    line-height: 2.0;
}

.footerline{
    border-top: 5px solid #88B0B7;
}


.smallimg{
    height: 100px;
    padding: 0px 20px;
}

.gridimgpad{
    padding: 10px 5px;
}


