.bodybgnd{
    background-image: url("./Assets/images/random_grey_variations_@2X.png");
}


h1{
    color: #88B0B7;
    border-bottom: 1px solid #88b0b7;
}


.card1{
    height:max-content;
    background-color: white;
}


.footerline{
    border-top: 5px solid #88B0B7;
}


.smallimg{
    height: 150px;
    padding: 0px 20px 10px;
}

.gridimgpad{
    padding: 10px 5px;
}


