.bodybgnd{
    background-color: grey;
}


h1{
    color: darkgreen;
    border-bottom: 1px solid grey;
}


.card1{
    background-color: white;
}


.lineheight{
    line-height: 2.0;
}

.navline{
    border-top: 5px solid darkgreen;
}


.smallimg{
    height: 100px;
    padding: 0px 20px;
}

.gridimgpad{
    padding: 10px 5px;
}